header{
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.header-contain{
    width: 1296px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo p{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin-top: 5px;
}

.navbar a{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.navbar-item:hover > a{
    color: #F45732;
    transition: all 0.2s ease-out;
}

.navbar-item:hover span i{
    color: #F45732;
    transition: all 0.2s ease-out;
}

.navbar .selected-a{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #F45732;
}

.navbar{
    height: 100%;
    margin-left: 382px;
    display: flex;
}

.navbar .navbar-item{
    height: 100%;
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.navbar .navbar-rec{
    position: relative;
    top: 0;
    left: 0;
}

.navbar .navbar-rec a{
    display: flex;
}

.navbar .navbar-rec i{
    color: #343434;
    font-size: 15px;
    margin-left: 7px;
}

.navbar-rec-sub{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 5px;
    width: 190px;
    height: 220px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    left: 0px;
}

.navbar-rec-sub a{
    padding-left: 12px;
    height: 40px;
    width : 180px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.navbar-rec-sub a:hover{
    background-color: #e6e6e6;
    color: #F45732;
}

.navbar-rec:hover .navbar-rec-sub{
    display: flex;
}

.search{
    position: relative;
    top: 0px;
    left: 0px;
}

.search input{
    width: 306px;
    height: 30px;
    margin-left: 56px;
    border-radius: 0;
    border: 1px solid #808080;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.search i{
    color: #808080;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 12px;
}

.account{
    margin-left: auto;
    cursor: pointer;
}
